<?php

//
// APP
//

// título que aparece na página do navegador
define('APP_NOME', 'NOME_DO_CLIENTE - Next Business Process'); 

// url que será utilizada nos e-mails com links para o aplicativo
define('APP_URL', 'http://localhost:8080/');

// url que será utilizada nos e-mails com links externos para o aplicativo
//define('APP_URL_EXT', 'http://localhost/'); 

// caminho do aplicativo (após o domínio)
define('APP_URI', '/webservice/index.php/'); 

// utilizado para armazenar arquivos do sistema
define('APP_DATA', '/var/www/data');

// Define se a senha nas telas, será oculta ou não
// define('SENHAS_OCULTAS', true);

// Define se a senha salva na base de dados será no formato MD5
// define('SENHAS_MD5', true);

// utilizado para exibir o trace no retorno de erros para um ip externo
//define('DEBUG_BUSINESS_EXCEPTION', '192.168.1.0');

// utilizado para gravar em Solicitacao_Atividade.dao.php.log a validação das origens do gateway inclusivo
//define('DEBUG_ROTA_ORIGEM_GATEWAY_INCLUSIVO', true);

// usuário de administrador do sistema que será utilizado por JOBs e Helpers
// do sistema que precisa de usuário com permissão
//define('USER_SYS_ID', 1);

// Data de corte na integação de e-mails. Utilizar quando implantar a integração em contas já existentes ou migrações de servidor de e-mail. Evita integrar e-mails já integrados
//define('DATAHORA_CORTE_INTERAGE_EMAIL', '2017-03-19 23:59:59');

// Ignorar inteirações com e-mails contendo no assunto algum item deste array
//define('MAIL_IGNORAR_CONTENDO_NO_ASSUNTO', [
//    '[SPAM]',
//    'Resposta automática de férias'
//]);

// Limite do tamanho total dos arquivos a serem compactados ao gerar arquivo zip
//define('TAMANHO_LIMITE_GERAR_ZIP', '1024M');
//define('MEMORIA_LIMITE_GERAR_ZIP', '512M');

// Configura o delay que pode existir na execução do Job Scheduler
//define('JOB_SCHEDULER_DELAY_MINUTO', 5);

// padrão de timezone
date_default_timezone_set('America/Sao_Paulo');

// desabilita log de erro nas respostas das requisições do webservice
error_reporting(0);

// habilita log de erro - habilitar para debug
//error_reporting(E_ALL & ~E_NOTICE);

// Exibe os erros das consultas MySQL na tela do usuário (não afeta o ambiente de desenvolvimento)
define('SHOW_SQL_ERRORS', false);

//
// MYSQL
//
define('DB_HOST', 'mariadb-container');
define('DB_PORT', '3306');
define('DB_NAME', 'base_local');
define('DB_USER', 'next_bp');
define('DB_USER', 'root');
define('DB_PASSWORD', 'root');